<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/head::head">
</head>
<link rel="stylesheet" href="../css/admin.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/solid.min.css">
<script src="../js/admin.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=0.75, maximum-scale=1 user-scalable=0">
<title>Administration</title>

<body>
    <form class="form-signin" method="POST">
        <div id="admin-section" class="btn-group">
            <button type="button" class="btn btn-primary" id="manage-stores">Manage Stores</button>
            <button type="button" class="btn btn-primary" id="addNewVendor">Add New Vendor</button>
            <button type="button" class="btn btn-primary" id="manage-vendors">Manage Vendors</button>
        </div>
    </form>
</body>
</html>