#feedback {
    color: red;
}

#table-of-all-users tr:hover {
    background-color: #e6ede4;
}

#manage-existing-stores, #manage-existing-vendors {
    margin-top: 50px;
}

.admin-section-group {
    margin-bottom: 50px;
}

.addBtn {
    color: green;
    margin-right: 20px;
    cursor: pointer;
}

/** Make the input fields line up by having the labels all same width **/
.adminLabel {
    width: 180px;
}